<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="GTMimi" Language="1033" Version="1.0.0.0" Manufacturer="GTworek" UpgradeCode="c8eeadef-ded6-45c7-bd20-7fdd83c7e71b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Mimi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Mimikatz" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      			<Component Id="Mimikatz" Guid="*">
        			<File Id="mimikatz.exe" Name="mimikatz.exe" Source="mimikatz.exe" />
      			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
